@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7qp5qf');
  src:  url('fonts/icomoon.eot?7qp5qf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7qp5qf') format('truetype'),
    url('fonts/icomoon.woff?7qp5qf') format('woff'),
    url('fonts/icomoon.svg?7qp5qf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logos_google-icon .path1:before {
  content: "\e900";
  color: rgb(66, 133, 244);
}
.icon-logos_google-icon .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-logos_google-icon .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(251, 188, 5);
}
.icon-logos_google-icon .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(235, 67, 53);
}
.icon-Vector:before {
  content: "\e904";
}
